.events{
    display: flex;
    text-align: center;
}
#accra-event{
    background-image: url(Images/accra.jpg);
    width: 33%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;

    
    
}
#accra-event::after{
content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
    background-blend-mode: darken;
    z-index: 1;  
}

#accra-event p{
 
}
#nairobi-event{
    background-image: url(Images/balcony.jpg);
    width: 34%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;

}
#nairobi-event::after{
content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 1;  
}


#zanzibar-events{
    background-image: url(Images/zanzibar.jpg);
    width: 33%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}
#zanzibar-events::after{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 1;  
}

#event-text{
    margin-top: cm;
}
#max-number{
    color: #f3d38d;
    font-size: 15px;
    font-weight: bolder;
}
#for-more{
    font-size: 20px;
}
h1{
    font-weight: bolder;
    font-size: 50px;
}
#acc-text{
    margin-top: 6.2cm;
}

/* Navigation */
.navig{
    width: 17cm;
    height: 1cm;
    border: 1px solid;
    padding: 0.5cm;
    border-radius: 1.5cm;
    background-color: black;
color: white;
position: absolute;
margin-top: -4cm;
margin-left: 13cm;
border: none;
}
.navig a{
    text-decoration: none;
    color: white;
}
#homepage{
margin-left: 0.8cm;
}
#menu{
    margin-left: 0.8cm;
}
#review{
margin-left: 0.8cm;
}
#event{
    margin-left: 0.8cm;
}
#live{
    margin-left: 0.8cm;
}
#contacts{
    margin-left: 0.8cm;
}
#reservation{
    margin-left: 0.8cm;
    width: 3cm;
    height: 1cm;
    border-radius: 1cm;
    background-color: #524f4f;
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 857px){
    body{
        overflow-x: hidden;
    }

.events{
    display: block;
    text-align: center;
}
#accra-event{
    background-image: url(Images/accra.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;

    
    
}
#accra-event::after{
content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
    background-blend-mode: darken;
    z-index: 1;  
}

#accra-event p{
 
}
#nairobi-event{
    background-image: url(Images/balcony.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;

}
#nairobi-event::after{
content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 1;  
}


#zanzibar-events{
    background-image: url(Images/zanzibar.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}
#zanzibar-events::after{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 1;  
}

#event-text{
    margin-top: cm;
}
#max-number{
    color: #f3d38d;
    font-size: 15px;
    font-weight: bolder;
}
#for-more{
    font-size: 20px;
}
h1{
    font-weight: bolder;
    font-size: 50px;
}
#acc-text{
    margin-top: 6.2cm;
}

/* Navigation */
.navig{
    width: 17cm;
    height: 1cm;
    border: 1px solid;
    padding: 0.5cm;
    border-radius: 1.5cm;
    background-color: black;
color: white;
position: absolute;
margin-top: -4cm;
margin-left: 13cm;
border: none;
}
.navig a{
    text-decoration: none;
    color: white;
}
#homepage{
margin-left: 0.8cm;
}
#menu{
    margin-left: 0.8cm;
}
#review{
margin-left: 0.8cm;
}
#event{
    margin-left: 0.8cm;
}
#live{
    margin-left: 0.8cm;
}
#contacts{
    margin-left: 0.8cm;
}
#reservation{
    margin-left: 0.8cm;
    width: 3cm;
    height: 1cm;
    border-radius: 1cm;
    background-color: #524f4f;
    color: white;
    border: none;
    cursor: pointer;
}

}
